@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    min-width: 520px;
}

.header, .footer, .main {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
}

.header, .footer {
    flex: none;
    align-items: center;
    background-color: #1F2937;
    height: 72px;
}

.header {
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.header-link, .hero-secondary {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.footer {
    color: #E5E7EB;
    justify-content: center;
}

.main {
    padding-top: 60px;
    padding-bottom: 60px;
    flex: auto;
}

.intro-container {
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 16px;
}

.hero-secondary  {
    margin-bottom: 16px;
}

.intro-left {
    flex: 1 1 0;
    max-width: 800px;
    min-width: 400px;
}

.title-image-container {
    flex: 1 1 0;
    max-width: 800px;
    min-width: 400px;
}

.title-image {
    max-width: 100%;
    height: auto;
}

.info-section {
    flex-direction: column;
    align-items: center;
}

.info-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 32px;
}

.card-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-align: center;
    gap: 5px;
}

.card-image {
    max-width: 100%;
    height:auto;
    border: 2px solid #3882F6;
    border-radius: 5%;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

.sign-up1 {
    color: #E5E7EB;
    border: none;
}

.sign-up2 {
    border: 1px solid white;
    color: #F9FAF8;
}
.quote-section {
    background-color: #E5E7EB;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.quote {
    align-self: self-start;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    font-style: italic;
    align-self: self-end;
}

 .action-call {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-container {
    display:flex;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 30px 80px;
    gap: 30px;
    justify-content: space-between;
}

.call-title {
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
}

.call-text {
    color: #F9FAF8;
    font-size: 12px;
}